<!-- 定义了一个title变量 -->
<% provide(:title, @user.name) %>

<div class = "row">
	<aside class = "span4">
		<section>
			<h1>
			<!-- 显示用户的Gravatar头像
			（在apps/helpers/users_helper.rb中） -->
			<%= gravatar_for(@user) %>
			<%= @user.name %>
			</h1>
		</section>
	</aside>
	
	<div class = "span8">
		<% if @user.microposts.any? %>
			<h3>Microposts (<%= @user.microposts.count %>)</h3>
			<ol class = "microposts">
				<!-- 调用'microposts/_micropost.html.erb'中的方法 -->
				<%= render @microposts %>
			</ol>
			<%= will_paginate @microposts %>
		<% end %>
	</div>
</div>